@model MovieRental.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Details</h2>
<br />
<ul>
    <li>Name : @Model.Name</li>
    <li>Membership : @Model.MembershipType.Name</li>
    @if (Model.Birthday.HasValue)
    {
        <li>Birthday : @Model.Birthday.Value.ToShortDateString()</li>
    }
</ul>




